.order-page {
  min-width: 90%;
  max-width: 90%;
  margin: auto;
}

.address-to-deliver,
.payment {
  margin: 25px 0;
  border: 1px solid black;
}

.address-to-deliver-title,
.payment-title {
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  padding: 15px;
}

.address-picker {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.add-new-card {
  height: 100px;
  margin: 10px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid black;
}

.add-new-card:hover {
  background-color: grey;
  opacity: 0.8;
  cursor: pointer;
}

.plus-sign {
  font-size: 55px;
  color: white;
  position: absolute;
}

.add-new-address-wrapper {
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.add-new-address {
  padding: 5px;
  height: 100px;
  width: fit-content;
}

.add-new-address-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.add-address-input {
  width: 100%;
}

.address-input,
.floor-input {
  margin: 5px;
  display: flex;
}

.floor-text,
.address-text {
  margin-right: 5px;
}

.buttons-error-wrapper {
  display: flex;
  margin-top: 5px;
}

.add-cancel-buttons-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.cancel-address-button,
.add-address-button {
  margin-left: 5px;
}

.fill-error {
  color: red;
}

.order-list-container {
  padding: 10px;
}

.notes-wrapper {
  display: flex;
  margin: 10px;
}

.notes-textarea {
  width: 100%;
  height: 100px;
  margin-left: 5px;
  resize: vertical;
}

.order-button-wrapper {
  margin: auto;
  width: fit-content;
}

.goodbye-message {
  font-size: 2rem;
  margin: 2rem auto;
  width: 80%;
  text-align: center;
}

.rotating-pizza {
  animation: logo-spin infinite 20s linear;
  margin-top: 2rem;
}

.warning-message {
  width: fit-content;
  margin: 0.5rem auto;
  color: red;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 540px) {
  .order-page {
    margin: 15px auto;
    min-width: 80%;
    max-width: 80%;
  }
  .address-picker {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 720px) {
  .order-page {
    margin: 15px auto;
    min-width: 80%;
    max-width: 80%;
  }
  .address-picker {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .order-page {
    margin: 15px auto;
    min-width: 80%;
    max-width: 80%;
  }
  .address-picker {
    grid-template-columns: repeat(4, 1fr);
  }
}
