header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  padding: 5px 20px;
  font-size: var(--fs-medium);
  gap: 10px;
}
header > :first-child {
  flex-grow: 1;
  align-items: center;
  display: flex;
  gap: 10px;
}
header img {
  width: 60px;
  cursor: pointer;
}
header h1 {
  cursor: pointer;
  text-align: center;
  font-size: var(--fs-very-big);
  font-weight: 500;
}
.cart-icon,
.avatar {
  font-size: var(--fs-very-big);
}
.avatar {
  padding-left: 10px;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: -5px;
}
.dropdown-content p {
  padding: 12px 16px;
}
.dropdown-content p:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.login,
.signup {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 20px;
}
.input {
  font-size: inherit;
  padding: 0.25rem;
}
.login-button,
.signup-button {
  padding: 7px 10px;
}
.modal-button {
  align-self: flex-start;
}
.dont-have-account,
.already-have-account {
  display: flex;
  gap: 0.25rem;
}
.dont-have-account span,
.already-have-account span {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 425px) {
  header {
    padding-inline: 15px;
  }
  header > :first-child {
    gap: 5px;
  }
  .cart-icon {
    display: none;
  }
}
@media only screen and (max-width: 720px) {
  header img {
    width: 50px;
  }
}
