.home {
  display: flex;
  margin: auto;
  gap: 30px;
  max-width: 95%;
  padding-bottom: 30px;
  font-size: var(--fs-medium);
}
.home > * {
  flex: 1;
}

.ingredients-list {
  padding: 20px;
}
.list-item {
  display: flex;
  margin: 10px 3px;
}
.checkbox-input,
.radio-input {
  margin: 4px 5px;
}
.no-gluten-icon {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.list-item-left-side-container {
  display: flex;
  flex-grow: 1;
  margin-right: 5px;
}
.add-to-cart-btn-wrapper {
  border-top: 1px solid black;
  padding: 15px 10px;
  display: flex;
  justify-content: flex-end;
}
.add-to-cart-btn {
  padding: 5px;
}

.create-pizza,
.cart {
  outline: 1.5px solid black;
  box-shadow: 2px 2px 7px -2px black;
  border-radius: 5px;
  min-height: 500px;
}
.cart-list {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}
.cart-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: inherit;
}
.cart-placeholder i {
  font-size: 5rem;
  opacity: 0.5;
}
.create-pizza > h2,
.cart-list > h2 {
  border-bottom: 1px solid black;
  padding: 10px;
  font-style: italic;
  font-size: var(--fs-big);
  font-weight: 500;
}
.dough-rows-container,
.order-items-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dough-row,
.cart-item {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid black;
}
.dough-row > :first-child,
.cart-item > :first-child {
  flex-grow: 1;
  line-height: 22px;
  padding-bottom: 5px;
  font-size: inherit;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.dough-row > :last-child,
.cart-item > :last-child {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 5px;
}
.increment-btn {
  border-radius: 0;
  padding: 2px 10px;
}
.cart-total-price {
  padding: 10px;
  margin-top: auto;
}
.delivery {
  border-bottom: 2px solid black;
  display: flex;
  padding: 10px;
}
.delivery p {
  flex-grow: 1;
}
.delivery span {
  margin-right: 73px;
}
.cart-total {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.cart-total p {
  font-weight: 600;
  flex-grow: 1;
}
.buy-btn {
  padding: 5px 17px;
}

@media screen and (max-width: 800px) {
  .home {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }
  .home > * {
    width: 100%;
  }
  .delivery span {
    margin-right: 71px;
  }
}
