.pick-a-dough,
.cart {
  outline: 1.5px solid black;
  box-shadow: 0px 0px 5px black;
  max-width: 600px;
  margin: 25px 15px 15px;
  min-height: 400px;
  min-width: 90%;
  max-width: 90%;
}

.pick-a-dough-title-container,
.order-title-container {
  border-bottom: 1px solid black;
}

.pick-a-dough-title,
.order-title {
  margin: 10px;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 500;
}

.dough-row-container,
.order-item-container {
  margin: 10px;
}

.dough-row,
.cart-item {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.dough-name-and-price-container,
.pizza-name-and-price-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.dough-name,
.pizza-name {
  flex-grow: 12;
  font-weight: 600;
  font-size: 1.2rem;
}

.dough-price,
.pizza-price {
  margin-right: 5px;
}

.dough-price-container,
.pizza-price-container {
  display: flex;
  align-items: center;
}

.dough-description,
.pizza-ingredients {
  margin-bottom: 5px;
  font-style: italic;
}

.cart-list {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.cart-total {
  margin: 10px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.delivery {
  border-bottom: 2px solid black;
  display: flex;
  padding: 10px 0;
}

.delivery-text,
.total-text {
  flex-grow: 12;
}

.delivery-price,
.total-price {
  margin-right: 77px;
}

.total {
  display: flex;
  padding: 10px 0 5px;
}

.total-text {
  font-weight: 600;
}

.buy-button {
  padding: 5px 20px;
  align-self: flex-end;
}

.cart-placeholder-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: inherit;
}

.cart-placeholder {
  font-size: 5rem;
  opacity: 0.5;
}

.number-of-orders {
  margin: 0 3px;
}

.ingredients-list {
  padding: 10px 10px 10px;
}
.list-item {
  display: flex;
  margin: 10px 3px;
}
.checkbox-input,
.radio-input {
  margin: 4px 5px;
}
.no-gluten-icon {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.list-item-left-side-container {
  display: flex;
  flex-grow: 1;
}
.add-to-cart-btn-wrapper {
  border-top: 1px solid black;
  padding: 15px 10px;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
  .pick-a-dough,
  .cart {
    margin: 15px;
    min-width: 45%;
  }
}
