.order {
  --card-box-shadow: 1px 1px 6px -3px black;
  width: 90%;
  margin: 0 auto;
  font-size: var(--fs-medium);
}
.delivery-address,
.payment {
  margin: 30px 0;
  outline: 1px solid black;
  box-shadow: 0px 0px 15px -10px black;
  border-radius: 5px;
}
.delivery-address > h2,
.payment > h2 {
  font-size: var(--fs-big);
  border-bottom: 1px solid black;
  padding: 1rem;
  font-style: italic;
  font-weight: 500;
}

.address-picker {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.address-picker > * {
  min-height: 245px;
}
.address-card-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: var(--card-box-shadow);
  gap: 1rem;
}
.address-card-wrapper > :first-child {
  display: flex;
  gap: 1rem;
}
.address-card-wrapper > button {
  align-self: flex-end;
  height: fit-content;
  margin-top: auto;
}
.address-card-info > * {
  margin-block-start: 5px;
  overflow-wrap: break-word;
  hyphens: auto;
}
.add-new-address-card {
  font-size: var(--fs-very-big);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--card-box-shadow);
  text-align: center;
}
.add-new-address-card:hover {
  background-color: hsl(0, 0%, 70%);
  cursor: pointer;
  box-shadow: 1px 1px 6px black;
}
.plus-sign {
  font-size: 70px;
  color: white;
  position: absolute;
}
.add-address {
  border-radius: 10px;
  box-shadow: var(--card-box-shadow);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.add-address input,
.add-address label {
  font-size: var(--fs-medium);
  width: 100%;
  margin-block-start: 5px;
}
.add-address input {
  padding: 3px;
}
.add-address input::placeholder {
  font-size: var(--fs-small);
}
.add-address input:focus {
  outline: none;
}
.add-address-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: auto;
}
.add-address-fill-error {
  font-weight: 500;
  color: red;
}

.payment-items-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.cart-total.order-page > span {
  margin-right: 75px;
}
.order-textarea {
  width: 100%;
  height: 150px;
  resize: none;
  font-size: var(--fs-medium);
  padding: 5px;
}
.order-textarea::placeholder {
  font-size: var(--fs-small);
}
.order-button {
  padding: 10px 40px;
  margin: 0 auto;
}

.order-more-btn {
  margin-top: 2rem;
  padding: 15px 30px;
}
.goodbye-message {
  font-size: 2rem;
  margin: 2rem auto;
  width: 80%;
  text-align: center;
}
.rotating-pizza {
  animation: logo-spin infinite 20s linear;
  margin-top: 2rem;
}

@media screen and (max-width: 720px) {
  .button {
    font-size: 1.0625rem;
  }
}

@media screen and (max-width: 800px) {
  .cart-total.order-page > span {
    margin-right: 77px;
  }
}
