.order-history {
  font-size: var(--fs-medium);
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 700px;
  border-radius: 10px;
  padding: 1rem;
}
table {
  width: 100%;
  border-collapse: collapse;
}
caption,
th,
td {
  border: 1px solid black;
  padding: 10px;
  margin: 0;
}
caption {
  border-bottom: none;
}
th {
  font-size: calc(var(--fs-medium) * 1.25);
  padding: 10px;
}
tbody > tr > :not(:first-child) {
  width: fit-content;
  text-align: center;
}
tbody > :last-child > td {
  padding: 1rem;
  padding-left: 0.5rem;
}
h4 > span {
  font-weight: 500;
}

@media screen and (max-width: 375px) {
  .order-history {
    padding: 0.5rem;
    font-size: var(--fs-small);
  }
  th {
    font-size: var(--fs-medium);
  }
  th,
  td {
    padding: 5px;
  }
  tbody > :last-child > td {
    padding: 5px;
  }
}
