.order {
  --box-shadow: 1px 1px 6px -2px black;
  width: 90%;
  margin: 0 auto;
  font-size: var(--fs-medium);
}
.delivery-address,
.payment {
  margin: 30px 0;
  border: 1px solid black;
}
.delivery-address > h2,
.payment > h2 {
  font-size: var(--fs-big);
  border-bottom: 1px solid black;
  padding: 1rem;
  font-style: italic;
  font-weight: 500;
}
.address-picker {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.address-picker > * {
  min-height: 250px;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  gap: 1rem;
}
.card-wrapper > :first-child {
  display: flex;
  gap: 1rem;
}
.card-wrapper > :last-child {
  align-self: flex-end;
  height: fit-content;
  margin-top: auto;
}
.card-info > * {
  margin-block-start: 5px;
  overflow-wrap: break-word;
  hyphens: auto;
}
.add-new-card {
  font-size: var(--fs-big);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.add-new-card:hover {
  background-color: hsl(0, 0%, 60%);
  opacity: 0.8;
  cursor: pointer;
}
.plus-sign {
  font-size: 60px;
  color: white;
  position: absolute;
}
.add-address {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.add-address input,
.add-address label {
  font-size: var(--fs-medium);
  width: 100%;
  margin-block-start: 5px;
}
.add-address input {
  padding: 3px;
}
.add-address input::placeholder {
  font-size: var(--fs-small);
}
.add-address input:focus {
  outline: none;
}
.address-card-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: auto;
}
.address-fill-error {
  color: red;
  visibility: hidden;
}
.address-fill-error.show-error {
  visibility: visible;
}

.order-list-container {
  padding: 10px;
}
.notes-wrapper {
  display: flex;
  margin: 10px;
}
.notes-textarea {
  width: 100%;
  height: 100px;
  margin-left: 5px;
  resize: vertical;
}
.order-button-wrapper {
  margin: auto;
  width: fit-content;
}
.order-button {
  padding: 10px 40px;
}
.order-more-btn {
  margin-top: 2rem;
  padding: 15px 30px;
}
.goodbye-message {
  font-size: 2rem;
  margin: 2rem auto;
  width: 80%;
  text-align: center;
}
.rotating-pizza {
  animation: logo-spin infinite 20s linear;
  margin-top: 2rem;
}
.warning-message {
  width: fit-content;
  margin: 0.5rem auto;
  color: red;
}

@media screen and (max-width: 720px) {
  .button {
    font-size: 1.0625rem;
  }
}
