.user-profile {
  width: fit-content;
  margin: auto;
  font-size: var(--fs-medium);
  padding: 0 10px;
}
.user-profile > h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: var(--fs-very-big);
  font-weight: 500;
}
.user-profile-name-wrapper {
  font-style: italic;
}
.user-profile > p {
  text-align: center;
  font-size: var(--fs-big);
  margin-bottom: 1rem;
}
.user-profile-buttons {
  display: flex;
  align-items: center;
}
.user-profile-buttons > * {
  padding: 0.5rem 1rem;
  font-size: var(--fs-medium);
}
.user-profile-buttons > span {
  font-size: var(--fs-big);
}

.change-password-form > *:not(:first-child) {
  margin-top: 0.75rem;
}
.change-password-input-wrapper > input {
  outline: none;
  margin-top: 0.25rem;
  font-size: var(--fs-medium);
  width: 100%;
}
.change-password-label {
  cursor: pointer;
  font-size: calc(var(--fs-medium) * 1.25);
}
.change-password-submit-button {
  padding: 0.5rem 1rem;
  font-size: inherit;
}

.delete-profile {
  padding-bottom: 1rem;
  text-align: center;
  font-size: calc(var(--fs-medium) * 1.25);
}
.delete-profile > p {
  margin-bottom: 1rem;
}
.delete-profile-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.delete-profile-buttons > * {
  padding: 0.35rem 1rem;
  font-size: var(--fs-medium);
}

@media all and (max-width: 400px) {
  .user-profile-buttons {
    flex-direction: column;
  }
}
